---
  permalink: "rss.xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:atom="http://www.w3.org/2005/Atom">

	<channel>
		<title>doqmeat</title>
		<link>https://doqmeat.com</link>
		<description>des' digital journal updates</description>
		<language>en-us</language>
		<webMaster>meow@doqmeat.com (des)</webMaster>
		<atom:link href="https://doqmeat.com/rss.xml" rel="self" type="application/rss+xml" />

{% for item in collections.rss %}
    <item>
			<title>{{ item.date | shortDate }} - {{ item.data.title }}</title>
			<link>https://doqmeat.com/{{ item.data.link }}</link>
			<description>{{ item.content | xml_escape }}</description>
			<guid isPermaLink="false">{{ item.date | ISODate }}</guid>
			<pubDate>{{ item.date | date:"%a, %e %b %Y","UCT" }} 12:00:00 -0400</pubDate>
		</item>
{% endfor %}

	</channel>
</rss>